<!--view-->
BIENVENIDOS A MI {{title}}
<input type ="text" [(ngModel)]=title/>

<app-registro></app-registro>
<input type ="number" [(ngModel)]="numero1"/>{{numero1}}<br> 
<input type ="number" [(ngModel)]=numero2/>{{numero2}}<br>
<input type="button" value="sumar"(click) = "operar('s')">
<input type="button" value="restar"(click) = "operar('r')">
<input type="button" value="multiplicar"(click) = "operar('m')">
<input type="button" value="diviidir"(click) = "operar('d')">
<br>
{{resultado}}
<br>
<input type = "text" (keyup) = "teclear($event)">
<br>
<br>
--Componente login--
<app-login>[resultadoHija]="resultado"</app-login>